# Installer logs
pip-log.txt
pip-delete-this-directory.txt
# Cache
__pycache__/
# Flask stuff:
instance/
.webassets-cache
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
#docker
docker/mysql
# Custom
.idea/
creditals.py
